<div class="container main-container">
    <h1>Detalhes do {{ fornecedor.name }}</h1>

    <div>
        <h4>Informação somente leitura</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
            <label class="control-label">Nome</label>
        </dt>
            <dd class="col-sm-10">
                {{ fornecedor.name }}
            </dd>
            <dt class="col-sm-2">
                <label class="control-label">Documento</label>
        </dt>
            <dd class="col-sm-10">
                {{ fornecedor.supplierType === 1 ? (fornecedor.document | cpf) : (fornecedor.document | cnpj) }}
            </dd>
            <dt class="col-sm-2">
                <label class="control-label">Ativo</label>
        </dt>
            <dd class="col-sm-10">
                <input [checked]="fornecedor.active" class="check-box" disabled="disabled" type="checkbox">
            </dd>
        </dl>
        <div class="row">
          <br>
          <iframe width="100%" height="450" frameborder="0" style="border:0; padding-bottom: 50px;" [src]="enderecoMap" allowfullscreen></iframe>
        </div>
    </div>

    <app-lista-produto [produtos]="fornecedor.products"></app-lista-produto>

    <div>
        <a class="btn btn-dark" [routerLink]="['/fornecedores/editar', fornecedor.id]">Editar</a>&nbsp;
        <a class="btn btn-info" [routerLink]="['/fornecedores/listar-todos']">Voltar</a>
    </div>
</div>
